{{#each data}}
<li>
	{{#each this}}
	<a href="http://www.xinpianchang.com/u{{userid}}" target="_blank">
		<img class="avatar" src="{{face_origin}}@365w_365h_1e_1c">
		<div class="cover">
			<div class="name-wrap">
				<span class="name">{{username}}</span>
				<img class="name-bar" src="//cs.vmovier.com/Uploads/Activity/2017-03-09/58c11a6c9ad5b.png">
			</div>
		</div>
	</a>
	{{/each}}
	
</li>
{{/each}}