<div class="footer-wrap">
  <div class="footer-con clearfix">
    <div class="left">
      <div class="qr"><img src="//cs.vmovier.com/Uploads/Activity/2017-03-13/58c69b716d169.png" alt=""></div>
      <a href="/"><img class="logo" src="//cs.vmovier.com/Uploads/Activity/2017-03-09/58c10cfa64a6e.png"></a>
    </div>
  </div>
</div>
</div>