<div class="footer-wrap">
  <div class="footer-con clearfix">
    <div class="left fl">
      <a href="/"><img class="logo" src="//cs.vmovier.com/Uploads/Activity/2017-03-09/58c10cfa64a6e.png"></a>
      <p>新片场影业是新片场集团旗下以制作、投资、发行、营销、艺人经纪业务为主的影视娱乐公司，主要出品和发行网络电影、网络剧、院线电影等内容。</p>
      <div class="other-wrap">
        <a class="weibo" href="http://weibo.com/u/3174109781" target="_blank">
          <span class="icon"></span>
        </a>
        <a class="weixin" href="javascript:;">
          <span class="icon"></span>
          <div class="qr-wrap">
            <div class="qr-title">微信二维码</div>
            <div class="qr-img">
              <img src="//cs.vmovier.com/Uploads/Activity/2017-03-13/58c69b716d169.png">
            </div>
          </div>
        </a>
      </div>
      <p class="record">京ICP备14003808号-1&nbsp;&nbsp;京公网安备11010802013821号</p>
    </div>
    <div class="right fr clearfix">
      <div class="column-item fl">
        <p class="title">关于</p>
        <ul class="list">
          {{!-- <li><a href="">媒体报道</a></li> --}}
          <li><a href="contact">联系我们</a></li>
          <li><a href="http://www.vmovier.com/join">加入我们</a></li>
        </ul>
      </div>
      <div class="column-item fl">
        <p class="title">新片场集团</p>
        <ul class="list">
          {{!-- <li><a href="">集团官网</a></li> --}}
          <li><a href="http://www.xinpianchang.com/">新片场社区</a></li>
          <li><a href="/">新片场影业</a></li>
          <li><a href="http://molitv.tv/">魔力TV</a></li>
          <li><a href="http://www.xinpianchang.com/project/make">新片场营销</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>