<div class="header-wrap">
  <div class="header-con">
    <a href="/"><img class="logo-img" src="//cs.vmovier.com/Uploads/Activity/2017-03-10/58c254b1741d9.png"></a>
    <ul class="nav-list">
      <li class="{{#compare '/' '==' page}}active{{/compare}}"><a href="/" >首页</a></li>
      <li class="{{#compare 'article' '==' page}}active{{/compare}}"><a href="article">作品</a></li>
      <li class="{{#compare 'creator' '==' page}}active{{/compare}}"><a href="creator">创作人</a></li>
      <li class="{{#compare 'investment' '==' page}}active{{/compare}}"> <a href="investment">投资</a></li>
      <li class="{{#compare 'contact' '==' page}}active{{/compare}}"><a href="contact">联系我们</a></li>
    </ul>
  </div>
</div>

