<div class="header-wrap">
	<div class="header-top-wrap">
		<div class="header-bar">
			<a href="/"><img class="logo-img" src="//cs.vmovier.com/Uploads/Activity/2017-03-15/58c8fd226eb12.png" alt=""></a>
			<div class="menu">
				<div class="menu-bar">
					<img src="//cs.vmovier.com/Uploads/Activity/2017-03-16/58ca3ebd0bd3e.png">
				</div>
				<div class="close">×</div></div>
		</div>
	</div>
	<div class="nav-wrap hide">
		<div class="top-bar"></div>
		<ul class="nav-list">
			<li><a class="{{#compare '/' '==' page}}selected{{/compare}}" href="/" >首页</a></li>
		    <li><a class="{{#compare 'article' '==' page}}selected{{/compare}}" href="article">作品</a></li>
		    <li><a class="{{#compare 'creator' '==' page}}selected{{/compare}}" href="creator">创作人</a></li>
		    <li><a class="{{#compare 'investment' '==' page}}selected{{/compare}}" href="investment">投资</a></li>
		    <li><a  class="{{#compare 'contact' '==' page}}selected{{/compare}}" href="contact">联系我们</a></li>
		</ul>
	</div>
</div>
