<!-- html部分 -->
<div class="container">
    <div class="banner-wrap slideActive">
      <img class="banner-img" src="//cs.vmovier.com/Uploads/Activity/2017-03-28/58da43fc8346c.jpg">
      <div class="banner-cover">
        <div class="slogan-wrap">
          <p class="slogan">汇聚年轻创作力量</p>
          <p class="intro">新片场影业依托于新片场创作人社区平台从而发掘优秀年轻创作人，建立了以制片人为核心的项目开发团队和培养机制，以及培养青年导演为核心的“新片场导演学院”为新一代电影导演做人才储备。</p>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="video-wrap">
        {{!-- <div class="top-bar-wrap">
          <div class="top-bar">
            <span class="top-title">聚集40w+影视创作人</span>
          </div>
        </div> --}}
        <ul class="creator-list clearfix">
           {{>creatorlist}}
        </ul>
      </div>
      <div class="video-wrap">
        <div class="top-bar-wrap">
          <div class="top-bar">
            <span class="top-title">新片场 FAMILY</span>
          </div>
        </div>
        <ul class="family-list clearfix">
          <li class="family-item">
            <div class="cover">
              <div class="family-con">
                <span class="title">导演 FAMILY</span>
                <p class="intro">新片场作为国内领先的内容出品发行平台，我们为各类客户解决互联网内容发行问题、全媒体渠道的宣发问题。现在，我们将这些优势资源，加上我们平台粉丝的线上线下资源，免费开放给 “新片场导演FAMILY” 成员。</p>
                <span class="offer">我们提供</span>
                <ul class="offer-list clearfix">
                  <li>新片场社区特权</li>
                  <li>新片场导演学院</li>
                  <li>创作资金支持</li>
                </ul>
                <div class="btn">
                  <a href="//www.xinpianchang.com/service/index/ts-family" target="_blank"><span>查看详情</span></a>
                  <a href="http://ilovevmovier.mikecrm.com/s4ecOWy" target="_blank"><span>申请加入</span></a>
                </div>
              </div>
            </div>
          </li>
          <li class="family-item item2">
            <div class="cover">
              <div class="family-con">
                <span class="title">制片人 FAMILY</span>
                <p class="intro">做了那么久的电影梦，总归想要在这里掀些波澜。在追梦的路上，要努力，更要有机会。我们愿在通往梦想的路上与你同行，并成为你最值得信赖的伙伴，我们将招募50名制片人，成立工作室，提供资金、招商、发行、品宣等全方位的扶持，加速作品诞生，让你的作品打动世界！</p>
                <span class="offer">我们提供</span>
                <ul class="offer-list clearfix">
                  <li>资金支持</li>
                  <li>制作团队</li>
                  <li>宣发支持</li>
                  <li>独立品牌</li>
                </ul>
                <div class="btn">
                  <a href="//www.xinpianchang.com/service/index/ts-new50" target="_blank"><span>查看详情</span></a>
                  <a href="http://ilovevmovier.mikecrm.com/36zg7c" target="_blank"><span>申请加入</span></a>
                </div>
              </div>
            </div>
          </li>
          {{!-- <li class="family-item item3">
            <div class="cover">
              <div class="family-con">
                <span class="title">编剧 family</span>
                <p class="intro">做了那么久的电影梦，总归想要在这里掀些波澜。在追梦的路上，要努力，更要有机会。我们愿在通往梦想的路上与你同行，并成为你最值得信赖的伙伴</p>
                <span class="offer">我们提供</span>
                <ul class="offer-list clearfix">
                  <li>版权保护</li>
                  <li>创意团队</li>
                  <li>剧本医生</li>
                </ul>
                <div class="btn">
                  <span>查看详情</span>
                  <span>申请加入</span>
                </div>
              </div>
            </div>
          </li> --}}
        </ul>
        <div class="tip">编剧 FAMILY 即将上线 . . . </div>

      </div>
    </div>
  </div>

{{#section 'js-file'}}
<script src="/public/js/creatorchange.js" type="text/javascript"></script>
<script>
  $(function() {
    $(".creator-list li").css("height", $(".creator-list li").width()).creatorchange();
    

  });
</script>

{{/section}}
