<!-- html部分 -->
<div class="container">
    <div class="banner-wrap slideActive">
      <img class="banner-img" src="http://cs.vmovier.com/Uploads/Activity/2017-03-28/58da1a4e7a23d.jpg  ">
      <div class="banner-cover">
        <div class="slogan-wrap">
          <p class="slogan">投出下一个百亿市场</p>
        </div>
      </div>
      <div class="btn-wrap clearfix">
        <div class="btn-wrap-center">
          <a href="javascript:;"><span class="active">新片场投资</span>
          <a href="http://www.xinpianchang.com/funding/index/ts-index"><span>网络影视众投</span></a>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="investment-intro">
        <p>新片场携手业内娱乐资本成立数支亿元影视基金，<br>
        专注于网络付费内容以及传统影视项目的投资合作，<br>
        为优质内容提供资金保障，打造行业第一的内容出品品牌。</p>
        <br>
        <p>新片场是国内知名的新媒体视频内容出品与发行平台，<br>
        拥有强大的制作资源以及内容营销资源，<br>
        为优秀作品提供全方位的资源保障。</p>
        <div class="email">BP邮箱：pictures@xinpianchang.com</div>

      </div>
    </div>
  </div>

{{#section 'js-file'}}

<script>
  


</script>

{{/section}}
