*{margin: 0; padding: 0;}
body{height: 100%; font-smoothing: antialiased; -webkit-font-smoothing: antialiased; font-family:'Microsoft YaHei', '微软雅黑', 'PingFang SC', STHeiti, sans-serif; overflow-x:hidden; color: #fff; background: #121212;}
.clearfix:after{visibility:hidden; display:block; font-size:0; content:""; clear:both; height:0;}
.clearfix{*zoom:1;}
img{border: none; vertical-align: top;}
a{text-decoration: none; color: #fff;}
ul{list-style: none;}
i{font-style: normal;}
.fl{float: left;}
.fr{float: right;}
.tl{text-align: left;}
.tr{text-align: right;} 
.mr0{margin-right: 0!important;}
/** 颜色条 */
.colorful-bar{display: block; width: 54px; height: 6px; margin: 28px 0; background: url(//cs.vmovier.com/Uploads/Activity/2017-03-09/58c0cf5c62363.png) no-repeat;}
.colorful-bar.blue{background-position: 0 -12px;}
.colorful-bar.green{background-position: 0 -24px;}
.colorful-bar.pink{background-position: 0 -36px;}

/** header */
.container{position: relative;}
.header-wrap{width: 100%; position: fixed; top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, 0); transition: .3s; z-index: 10;}
.header-wrap.bg-color{background: rgba(0, 0, 0, .7);}
.header-wrap .header-con{max-width: 960px; height: 24px; padding: 18px 160px; margin: 0 auto; }
.header-wrap .header-con .nav-list{float: right;}
.header-wrap .header-con .nav-list li{display: inline-block; margin-left: 26px; font-size: 16px; opacity: .5; /*font-weight: 300;*/}
.header-wrap .header-con .nav-list li:hover{opacity: 1;}
.header-wrap .header-con .nav-list li.active{opacity: 1;}
.header-wrap .logo-img{width: 120px;}

/** footer */
.footer-wrap{width: 100%; background: #252222;}
.footer-wrap .footer-con{max-width: 960px; padding: 45px 160px 52px; margin: 0 auto;}
.footer-wrap .left{width: 500px;}
.footer-wrap .left .logo{width: 180px;}
.footer-wrap .left p{font-size: 12px; line-height: 1.5; opacity: .3; /*font-weight: 300;*/ margin: 18px 0 39px 0;}
.footer-wrap .left .other-wrap a{display: inline-block; margin-right: 20px;}
.footer-wrap .left .other-wrap .icon{width: 20px; height: 16px; display: inline-block; background-size: cover; background-repeat: no-repeat; background-image: url(//cs.vmovier.com/Uploads/Activity/2017-03-10/58c2566240752.png);}
.footer-wrap .left .other-wrap .weibo .icon{background-position: 0 0;}
.footer-wrap .left .other-wrap .weibo .icon:hover{background-position: 0 -32px;}
.footer-wrap .left .other-wrap .weixin .icon{background-position: 0 -16px;}
.footer-wrap .left .other-wrap .weixin .icon:hover{background-position: 0 -48px;}
.footer-wrap .left .record{margin: 10px 0 0 0;}
.footer-wrap .left .other-wrap .weixin{position: relative;}
.footer-wrap .left .other-wrap .weixin:hover .qr-wrap{display: block;}
.footer-wrap .left .other-wrap .qr-wrap{width: 90px; height: 100px; background: #fff; position: absolute; left: -35px; top: -118px; text-align: center; display: none;}
.footer-wrap .left .other-wrap .qr-wrap:after{content: ''; display: block; position: absolute; border: 10px solid rgba(255, 255, 255, 0); border-top: 15px solid rgba(255, 255, 255, 1); top: 94px; left: 35px;}
.footer-wrap .left .other-wrap .qr-wrap .qr-title{font-size: 10px; opacity: .7; color: #000; padding-top: 10px;}
.footer-wrap .left .other-wrap .qr-img{width: 60px; height: 60px; padding: 5px; display: inline-block;}
.footer-wrap .left .other-wrap .qr-img img{width: 100%;}
.footer-wrap .right .column-item{font-size: 12px; line-height: 1.5; margin-left: 80px;}
.footer-wrap .right .column-item .title{font-weight: 600; opacity: .6; padding-bottom: 10px;}
.footer-wrap .right .column-item .list li{/*font-weight: 300;*/ opacity: .4;}
.footer-wrap .right .column-item .list li:hover{opacity: 1;}

/** banner */
.banner-wrap{position: relative;}
.banner-img{width: 100%;}
.banner-cover{position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0, 0, 0, .2);}
.slogan-wrap{position: absolute; width: 100%; top: 45%; left: 0;text-align: center; transform: translate(0, -50%);-webkit-transition: all 0.8s ease-in-out; -moz-transition: all 0.8s ease-in-out; -o-transition: all 0.8s ease-in-out; -ms-transition: all 0.8s ease-in-out; transition: all 0.8s ease-in-out; }
.slogan-wrap .slogan{font-size: 48px; padding-bottom: 16px;}
.slogan-wrap .intro{font-size: 14px; line-height: 1.6;}
.down-wrap{position: absolute; width: 100%; bottom: 60px; text-align: center;}
.down-img{width: 40px;}

/** 服务介绍 */
/*.main{max-width: 1280px; margin: 0 auto; width: 1280px;}*/
.service-wrap{background: #121212; padding: 90px 0 99px;}
.service-wrap .service-list{width: 944px; margin: 0 auto;}
.service-wrap .service-list li{width: 140px; float: left; margin-right: 128px;}
.service-wrap .service-list li .service-title{font-size: 30px; /*font-weight: 300;*/}
.service-wrap .service-list li .service-intro{font-size: 14px; opacity: .6; /*font-weight: 300;*/}
.service-wrap .data-list{width: 686px; margin: 146px auto 0;}
.service-wrap .data-list li{width: 130px; float: left; margin-right: 148px;}
.service-wrap .data-list li .data-detail{font-size: 60px;}
.service-wrap .data-list li .data-detail.green{color: #01e3aa;}
.service-wrap .data-list li .data-detail.blue{color: #4dcafe;}
.service-wrap .data-list li .data-detail.red{color: #ea2967;}
.service-wrap .data-list li .data-detail span{font-size: 18px; padding-left: 6px;}
.container .main .service-wrap .data-list li .data-title{font-size: 16px; padding-top: 15px; /*font-weight: 300;*/}

/** 我们的作品 */
.video-wrap{background: #252222;}
.video-wrap .top-bar-wrap{width: 100%; background: #252222;}
.video-wrap .top-bar{height: 100px; max-width: 940px; padding: 0 180px 0 160px; margin: 0 auto;}
.video-wrap .top-bar .top-title{font-size: 30px; line-height: 100px;}
.video-wrap .top-bar .top-more{float: right; font-size: 14px; opacity: .4; /*font-weight: 300;*/ margin-top: 40px;}
.video-wrap .top-bar .top-more:hover{opacity: 1;}
/*.video-wrap .video-list li .video-poster{height: 500px; background: url(//cs.vmovier.com/Uploads/Magic/post/2017-02-24/58b026ed98277.jpg@1280w_500h_1e_1c) no-repeat; background-size: contain; position: relative;}*/
.video-wrap .video-list li .video-poster .cover{position: absolute; width: 100%; height: 100%; background: #000; opacity: .4; transition: .3s; cursor: pointer;}
.video-wrap .video-list li .video-poster .btn{position: absolute; width: 64px; height: 64px; background: url(//cs.vmovier.com/Uploads/Activity/2017-03-10/58c2529fdb372.png) no-repeat; background-size: cover; top: 50%; left: 50%; margin: -32px 0 0 -32px; transition: .3s;}
.video-wrap .video-list li .video-poster .btn.red{background-position: 0 -64px;}
.video-wrap .video-list li .video-poster .btn.green{background-position: 0 -128px;}
.video-wrap .video-list li.mix .video-poster .btn{background-image: url(//cs.vmovier.com/Uploads/Activity/2017-03-09/58c14195f190f.png);}
.video-wrap .video-list li .video-poster:hover .cover{opacity: 0;}
.video-wrap .video-list li .video-poster:hover .btn{transform: scale(1.1);}
.video-wrap .video-list li .video-intro-wrap{background: #302E2E;}
.video-wrap .video-list li .video-intro{padding: 46px 270px 90px 160px; max-width: 850px; margin: 0 auto;}
.video-wrap .video-list li .video-intro .bg-bar{width: 78px; height: 26px; line-height: 26px; font-size: 14px; text-align: center; background: url(//cs.vmovier.com/Uploads/Activity/2017-03-09/58c0f8179c26d.png) no-repeat; margin-bottom: 18px; /*font-weight: 300;*/}
.video-wrap .video-list li .video-intro .bg-bar.red{background-position: 0 -52px}
.video-wrap .video-list li .video-intro .bg-bar.green{background-position: 0 -156px; width: 90px; color: #302e2e;}
.video-wrap .video-list li .video-intro .white-bar{width:28px; height: 4px; background: #fff; margin: 28px 0;}
.video-wrap .video-list li .video-intro .right .white-bar{margin-bottom: 18px;}
.video-wrap .video-list li .video-intro .video-title{font-size: 28px; font-weight: 500;}
.video-wrap .video-list li .video-intro .video-detail{font-size: 14px; /*font-weight: 300;*/ padding-bottom: 10px;}
.video-wrap .video-list li .video-intro .video-detail span{font-size: 24px; padding-left: 15px;}

/** 创作人列表 */
.creator-list li{width: 14.28%; float: left; position: relative;}
.creator-list li a{display: inline-block;}
.creator-list li a .avatar{width: 100%;}
.creator-list li a .cover{position: absolute; width: 100%; height: 100%; background: rgba(0, 0, 0, .4); top: 0; left: 0;}
.creator-list li a .cover .name-wrap{position: absolute; width: 100%; text-align: center; top: 50%; transform: translate(0, -50%); opacity: 0; transition: .3s;}
.creator-list li:hover a .cover .name-wrap{opacity: 1;}
.creator-list li a .cover .name-wrap .name{font-size: 16px; font-weight: 600;}
.creator-list li a .cover .name-wrap .name-bar{display: block; width: 30px; margin: 20px auto 0;}

/** family列表 */
.family-list .family-item{height: 720px; background: url(//cs.vmovier.com/Uploads/Activity/2017-03-09/58c11fcc976e9.jpg@2560w_1440h_1e_1c) no-repeat;}
.family-list .family-item .cover .family-con{padding: 160px 160px 0 160px; max-width: 960px; margin: 0 auto;}
.family-list .family-item .cover{height: 100%; background: rgba(0, 0, 0, .4);}
.family-list .family-item .cover .title{font-size: 40px; background-image: linear-gradient(to right, #4cd1ff, #648cef); -webkit-background-clip: text; background-clip: text;-webkit-text-fill-color: transparent;}
.family-list .item2 .cover .title{background-image: linear-gradient(to right, #02e7a6, #00ebce);}
.family-list .item3 .cover .title{background-image: linear-gradient(to right, #ee2a69, #d64499);}
.family-list .family-item .cover .intro{ width: 820px; font-size: 16px; /*font-weight: 300;*/ line-height: 1.6; padding: 48px 0 83px 0;}
.family-list .family-item .cover .offer{font-size: 24px; background-image: linear-gradient(to right, #49caf9, #6289e9); -webkit-background-clip: text; background-clip: text;-webkit-text-fill-color: transparent;}
.family-list .item2 .cover .offer{background-image: linear-gradient(to right, #02e7a7, #00ebcd);}
.family-list .item3 .cover .offer{background-image: linear-gradient(to right, #e72b68, #d74397);}
.family-list .family-item .cover .offer-list{font-size: 14px; /*font-weight: 300;*/ line-height: 18px; margin-top: 34px;}
.family-list .family-item .cover .offer-list li{float: left; margin-right: 42px; padding-right: 42px; border-right: solid 1px rgba(255, 255, 255, .4);}
.family-list .family-item .cover .offer-list li:last-child{border: none;}
.family-list .family-item .cover .btn{margin-top: 65px;}
.family-list .family-item .cover .btn span{display: inline-block; width: 164px; height: 42px; text-align: center; font-size: 16px; /*font-weight: 300;*/ border: solid 1px rgba(255, 255, 255, 0.8); line-height: 44px; border-radius: 2px; margin-right: 38px; cursor: pointer;}

/** 投资banner下的按钮 */
.btn-wrap{position: absolute; bottom: 0; width: 100%;}
.btn-wrap span{float: left; width: 50%; height: 70px; font-size: 22px; text-align: center; line-height: 70px; background: rgba(0, 0, 0, .2); opacity: .8; cursor: pointer;}
.btn-wrap span.active{background: rgba(0, 0, 0, .8); opacity: 1;}

/** 投资内容 */
.investment-intro{text-align: center; padding: 90px 0; background: #fff;}
.investment-intro p{font-size: 14px; color: #000; line-height: 1.9; /*font-weight: 300;*/}
.investment-intro .email{width: 294px; height: 44px; text-align: center; font-size: 14px; line-height: 44px; background: #000; border-radius: 2px; margin: 53px auto 0;}

/** 联系我们 */
.contact-bg-wrap{background: #fff;}
.contact-wrap{padding: 77px 120px 63px 160px; max-width: 1000px; margin: 0 auto;}
.contact-wrap .title{font-size: 30px; color: #333;}
.contact-wrap .contact-bar{width: 54px; height: 6px; background: #000; margin: 26px 0;}
.contact-wrap .contact-list{font-size: 14px; color: #000;}
.contact-wrap .contact-list li{float: left; width: 332px; margin-bottom: 10px;}
.apply-bg-wrap{background: #F0EFEF;}
.apply-wrap{padding: 84px 160px 80px; max-width: 960px; margin: 0 auto;}
.apply-wrap .apply-list li{float: left; margin-right: 199px;}
.apply-wrap .apply-list li p{font-size: 30px; color: #000;}
.apply-wrap .apply-list li .btn{display: inline-block; height: 44px; padding: 0 36px; line-height: 44px; font-size: 14px; background: #000; text-align: center; border-radius: 2px; cursor: pointer;}

/** 首页banner */
::-webkit-scrollbar{
	width: 0px;
	height: 0px;
}
/*滚动条轨道*/
::-webkit-scrollbar-track{
	background-color: rgba(158, 158, 158, 0.7);
}
/*滚动条滑块*/
::-webkit-scrollbar-thumb{
	background-color:rgba(18, 18, 18, 0.78);
	border-radius: 13px;
}

/*******************home slide start*******************/
.home{
	width: 100%;
	/*height: 600px;*/
	display: table;
	overflow: hidden;
	position: relative;
}
.home_imglist_ul, .home_imglist_ul li{
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0, 1);
}
.home_imglist_ul{
	position: relative;
}
.home_imglist_ul li{
	position: absolute;
}
.slideItem{
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	
	z-index: 0;
	
	animation: slideOut 1.5s ease-in-out;
}
.solideImg{
	width: 100%;
}
.slide-pattern{
    background-color: rgba(0,0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.dot_control{
	position: absolute;
  bottom: 50px;
  left: 50%;
  z-index: 3;
  margin-left: -26px;
  margin-bottom: 0px;
  width: 52px;
  height: 7px;
}
.dot_control li {
	display: inline-block;
    width: 7px;
    height: 100%;
    margin: 0px 5px;
    border-radius: 50%;
    border: 1px solid rgba(231,231,231,1);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
.dot_control_active,
.dot_control li:hover{
	background-color: rgba(255, 255, 255, 0.9);
}
.prevBtn, .nextBtn{
	position: absolute;
	top: 0px;
	width: 15%;
	height: 100%;
	z-index: 3;
}
.prevBtn{
	left: 0px;
	cursor: url(//cs.vmovier.com/Uploads/Activity/2017-03-10/58c279276c3f9.png), e-resize;
}
.nextBtn{
	right: 0px;
	cursor: url(//cs.vmovier.com/Uploads/Activity/2017-03-10/58c2793d82f20.png),e-resize;
}
/*******************home slide end*******************/
/*动画控制 start*/
.slideActive{
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=10);
	
	z-index: 1;
	
	animation: slideIn 1.5s ease-in-out;
}
.content_active{
	margin-top: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	filter: alpha(opacity=10);
	transition-delay: 1s;
	-moz-transition-delay: 1s; /* Firefox 4 */
	-webkit-transition-delay: 1s; /* Safari 和 Chrome */
	-o-transition-delay: 1s; /* Opera */
}
.content_hidden{
	margin-top: -7%;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	-o-opacity: 0;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*动画控制 end*/

/***********动画 start***********/
/*search scale start*/
@-webkit-keyframes scale1{
	0%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(1);
	}
}
@keyframes scale1{
	0%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(1);
	}
}
/*search scale end*/

/**************动画 start************/
/*top slide in start*/
@-webkit-keyframes slideIn{
	0%{
		-webkit-opacity: 0;
		-moz-opacity: 0;
		-ms-opacity: 0;
		-o-opacity: 0;
		opacity: 0;
		filter: alpha(opacity=0);
	}
	100%{
		-webkit-opacity:1;
		-moz-opacity: 1;
		-o-opacity: 1;
		-ms-opacity: 1;
		opacity: 1;
	filter: alpha(opacity=10);
	}
}
@keyframes slideIn{
	0%{
		-webkit-opacity: 0;
		-moz-opacity: 0;
		-ms-opacity: 0;
		-o-opacity: 0;
		opacity: 0;
	filter: alpha(opacity=0);
	}
	100%{
		-webkit-opacity:1;
		-moz-opacity: 1;
		-o-opacity: 1;
		-ms-opacity: 1;
		opacity: 1;
	filter: alpha(opacity=10);
	}
}
/*top slide in end*/

/*top slide out start*/
@-webkit-keyframes slideOut{
	0%{
		-webkit-opacity:1;
		-moz-opacity: 1;
		-o-opacity: 1;
		-ms-opacity: 1;
		opacity: 1;
	filter: alpha(opacity=10);
	}
	100%{
		-webkit-opacity: 0;
		-moz-opacity: 0;
		-ms-opacity: 0;
		-o-opacity: 0;
		opacity: 0;
	filter: alpha(opacity=0);
	}
}
@keyframes slideOut{
	0%{
		-webkit-opacity:1;
		-moz-opacity: 1;
		-o-opacity: 1;
		-ms-opacity: 1;
		opacity: 1;
	filter: alpha(opacity=10);
	}
	100%{
		-webkit-opacity: 0;
		-moz-opacity: 0;
		-ms-opacity: 0;
		-o-opacity: 0;
		opacity: 0;
	filter: alpha(opacity=0);
	}
}












