<!-- html部分 -->
<div class="container">
    <div id="home" class="home">
      <ul id="home_imglist_ul" class="home_imglist_ul">
        
        <li class="">
          <img class="solideImg" src="https://cs.vmovier.com/Uploads/Activity/2017-03-28/58da16e1145ce.jpg">
          <div class="banner-cover">
            <div class="slogan-wrap content_active">
              <p class="slogan">联系我们</p>
              {{!-- <p class="intro">2016年总计出品、发行百余部作品，发行项目总点击量高达15亿，打造了包括《四平青年之浩哥大战古惑仔》《错了性别，不错爱》《痞子兵王》《不可抗力》等诸多爆款项目。</p> --}}
            </div>
          </div>
        </li>
        
      </ul>
      
    </div>

    <div class="main">
      <div class="contact-bg-wrap">
        <div class="contact-wrap">                                       
          <p class="title">联系我们</p>
          <div class="contact-bar"></div>
          <ul class="contact-list clearfix">
            <li>微博：@新片场影业</li>
            <li>微信：xinpianchangYY</li>
            <li>电话：010-58440117&nbsp;15313960442</li>
            <li>邮箱：pictures@xinpianchang.com</li>
            <li>地址：北京市东城区菊儿胡同7号C座</li>
          </ul>
        </div>
      </div>
      <div class="apply-bg-wrap">
        <div class="apply-wrap">
          <ul class="apply-list clearfix">
            <li>
              <p>发行合作</p>
              <div class="colorful-bar"></div>
              <a href="http://www.mikecrm.com/LEjQMH" target="_blank"><div class="btn">申请发行合作</div></a>
            </li>
            <li>
              <p>项目融资</p>
              <div class="colorful-bar blue"></div>
              <a href="http://www.xinpianchang.com/funding/index/ts-index" target="_blank"><div class="btn">众投项目申请</div></a>
            </li>
            <li class="mr0">
              <p>制片人/导演family</p>
              <div class="colorful-bar green"></div>
              <a href="http://ilovevmovier.mikecrm.com/s4ecOWy" target="_blank"><div class="btn">申请加入</div></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

{{#section 'js-file'}}

<script>

  


</script>

{{/section}}
